.navbar-header {
  background-color: #fff !important;
  height: 70px;
  padding: 20px 50px;
  max-width: 100%;
}

.mobile-menu {
  display: none;
}
.mobile-view,
.hidden-search {
  display: none;
}

.iconbar {
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background: #fe5f00;
  margin: 4px 0;
  transition: 0.4s;
}

.bar2 {
  width: 25px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
nav .nav-brand img {
  width: 100%;
}

.nav-title {
  color: #212429 !important;
  font-size: 20px;
  transition: 0.3s;
  margin-left: 30px;
}

#basic-nav-dropdown:hover,
.nav-title:hover {
  color: #4abbcd !important;
  text-decoration: none;
}
.nav-input {
  width: 100% !important;
  height: 36px;
  padding: 10px 30px 10px 60px;
  outline: none !important;
  /* margin-right: 100px; */
}

.nav-input:focus {
  outline: none !important;
  border-color: #4abbcd !important;
  /* margin-right: 100px; */
}

.form {
  position: relative;
  margin-left: 50px;
  width: 400px;
}

.form span {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}

.fa-search {
  color: #767779;
}

.nav-input::placeholder {
  font-size: 16px;
  color: #495057;
}

.avatar-dropdown {
  box-shadow: none;
}

.avatar-dropdown:hover,
.avatar-dropdown:focus,
.avatar-toggle:hover,
.avatar-toggle:focus {
  border: none !important;
  box-shadow: none !important;
}

.avatar-menu {
  margin-left: -50px !important;
}

.active {
  color: #4abbcd !important;
}

/* Dropdown Button */
.dropbtn,
.badge {
  color: #212429;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none !important;
}

.dropbtn:hover {
  color: #4abbcd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content,
.profile-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  width: 257px;
  height: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 1;
}

.badge-content,
.profile-content {
  border: 1px solid #4abbcd;
  padding: 15px 0;
}

.badge-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Links inside the dropdown */
.dropdown-content a,
.profile-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none !important;
  display: block;
}

/* Change color of dropdown links on hover */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content,
.dropdown:hover .profile-content {
  display: block;
}

.dropdown:hover .badge-content {
  display: flex;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #4abbcd;
}
.dropdown-link {
  position: relative;
}

.dropdown-link {
  position: relative;
}

.spanned-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-chevron-right {
  font-size: 14px;
}

.spanned-link:hover {
  color: #4abbcd;
}

.dropdown-subcontent {
  display: none;
  list-style: none;
  padding: 10px;
  background-color: #ffff;
  width: 257px;
  height: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 100%;
}
.dropdown-link:hover .dropdown-subcontent {
  display: block;
}

.dropdown-subcontent li {
  line-height: 30px;
  padding: 10px 0;
}

.dropdown-subcontent li:hover,
.profile-content span:hover {
  color: #4abbcd;
}

.profile-content {
  left: -150px;
}

.profile-content a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

@media (max-width: 1300px) {
  .navbar-header {
    min-height: 70px;
    padding: 20px 40px;
    width: 100%;
  }

  .navbar-brand img {
    width: 150px;
  }

  .nav-title {
    font-size: 18px;
    transition: 0.3s;
    margin-left: 10px;
  }
  .form {
    position: relative;
    margin-left: 30px;
    width: 350px;
  }

  .btn-lg,
  .btn-group-lg > .btn {
    padding: 0.75rem 1.2rem 0.6875rem 1.2rem;
    font-size: 0.875rem;
    line-height: 1.6;
  }
}

@media screen and (max-width: 1172px) {
  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100% !important;
  }
  .web-view {
    display: none;
  }

  .nav-title {
    padding: 0px !important;
    margin-left: 0px;
  }

  .form {
    position: relative;
    margin-left: 0px;
    width: 350px;
  }

  .mobile-view {
    display: block;
  }
  .iconbar {
    display: block;
  }

  .right-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    height: 350px;
    width: 300px;
    background-color: #fff;
    z-index: 100;
    padding: 40px 0px;
    transition: 0.3s linear;
    box-shadow: 5px 30px 56.12757110595703px 0px rgba(55, 55, 55, 0.11);
    border-radius: 10px;
  }

  .button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }

  .mobile-list {
    margin-bottom: 30px;
  }

  .hide-nav {
    transform: translateX(-700px);
  }

  .show-nav {
    transform: translateX(0);
  }
}
@media (max-width: 850px) {
  .open-search {
    display: none;
  }
  .close-form {
    display: none;
  }

  .hidden-search {
    display: block;
  }
  .fa-search {
    color: #fe5f00;
  }

  .nav-input {
    padding: 10px 0px 10px 20px;
  }
}

@media screen and (max-width: 600px) {
  .mobile-menu {
    padding: 20px 20px;
  }
}
