
.navbar-header{
    background-color:#fff !important;
    min-height: 70px;
    padding: 20px 80px;
    max-width: 100%;
}

nav .nav-brand img{
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
}

 .nav-title{
   color: #212429;
   font-size: 20px;
   transition: 0.3s;
   margin-left: 30px;
}

#basic-nav-dropdown:hover,
.nav-title:hover{
    color: #FE5F00 !important;
    text-decoration: none;

}
.nav-input{
    min-width: 400px;
    height: 36px;
    padding: 10px 60px;
    outline: none;
    /* margin-right: 100px; */
    
}

.form{
position: relative;
}

.form span{
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.fa-search{
    color: #767779 ;
    
}

.nav-input::placeholder{
    font-size: 16px;
    color:  #495057;

}

.avatar-dropdown{
   
    box-shadow: none;
}

.avatar-dropdown:hover,
.avatar-dropdown:focus,
.avatar-toggle:hover,
.avatar-toggle:focus
{
    border: none !important;
    box-shadow: none !important;
}

.avatar-menu{
   
    margin-left: -50px !important;
}

.active{
    color:green !important;
    background-color: yellow;
    border: 2px solid blue;
}