.modal-div{
    background: #F8F9FA;
    position: relative;
    padding:10px 20px 10px 0;
}

.modal-div .fas{
    position: absolute;
    right: 5%;
    top: 5%;
     color: #ACB5BD;
    
}
.modal-header{
   width: 500px;
    margin: auto;
    border-bottom: none !important;
}

.modal-title{
    width: 100%;
    text-align: center;
}

.modal-body{
    width: 500px;
    margin: auto;
}

.modal-button{
    width: 100%;
}

.or-separator{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.or-separator div{
    margin: 0 20px;
}

hr{
    width: 80%;
}

.modal-google{
    background-color: #FFF !important;
    border: none;
    color: black !important;
}

.login-link{
    color: #4ABBCD !important;
    text-decoration: none !important;
}