.wrapper {
  padding:80px 80px;
  width: 100%;
}

.design-preview{
  margin-top: 200px;
}

.drop-pg {
  color:red !important ;
}
.drop-pg:hover {
  color:green !important;
  text-decoration: none;

}

.drop-pg:hover .drop{
display: block !important;
}