.wrapper {
  padding:80px 80px;
  width: 100%;
}

.design-preview{
  margin-top: 200px;
}

.courseImg img{
  width: 100%;
}

@media (max-width:1024px){
  .wrapper {
  padding:80px 60px;
  width: 100%;
}
}

@media (max-width:768px){
  .wrapper{
     padding:80px 20px;
  }
}